@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200&family=Open+Sans:wght@700&family=Poppins:wght@100;300;400;500;600&display=swap");
:root {
  --green: #27ae60;
  --dark-color: #219150;
  --black: #444;
  --light-color: #666;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --border-hover: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  transition: all 0.2s linear;
  transition: width none !important;
}

html {
  /* font-size: 62.5%; */
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #bc8d31;
}
body {
  background: rgba(0, 0, 0, 0.9) !important;
}

.navigation {
  background: linear-gradient(to right, #8f693a, #bc8d31, #8f693a);
  height: 5rem !important;
}
.navbar-brand img {
  width: 5rem;
  height: 5rem;
}
#navbarSupportedContent .navbar-nav .nav-item .nav-link {
  font-size: 1.2rem !important;
  color: #000;
}
#navbarSupportedContent .navbar-nav .nav-item .nav-link:hover {
  color: #fff;
}

/* nav-2 with black transparrent backgropund and items in vertical direction */
.nav-2 {
  background: rgba(0, 0, 0, 0.9) !important;
  height: 100vh !important;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transform: translateX(200%);
  transition: all 0.5s ease-in-out;
}

#menu-close-btn {
  position: absolute;
  top: 1rem;
  left: 2rem;
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
}
.nav-2.active {
  transform: translateX(85%);
}
.nav-2 .navbar-nav {
  margin-top: 5rem;
  flex-direction: column !important;
  align-items: flex-start;
  padding-left: 2rem;
  height: 100%;
}
.nav-2 .navbar-nav .nav-item {
  margin: 0.4rem 0;
}
.nav-2 .nav-link {
  color: #fff !important;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 0;
  display: block;
  text-align: center;
}
.nav-2 .nav-link:hover {
  color: #bc8d31 !important;
}

/* dropdown */
#menu-btn {
  background: transparent;
}
.dropdown {
  background: rgba(0, 0, 0, 0.9) !important;
  border: none;
  border-radius: 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  margin-top: 0;
  display: none;
}
.dropdown .dropdown-item {
  color: #fff !important;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 2rem;
  display: block;
  text-align: center;
}
.dropdown .dropdown-item:hover {
  color: #bc8d31 !important;
}

/* Search icon should cover all the page with black background and show search bar */
.search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
  /* display: none; */
  transform: translateY(-100%);
}
.search form .search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 5rem;
  background: transparent;
  border-radius: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.search form .search-box input {
  width: 80%;
  height: 100%;
  border: none;
  background: transparent;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.5);
  outline: none;
  font-size: 3rem;
  font-weight: 500;
  color: #444;
}
.search form .search-box input::placeholder {
  font-size: 3rem;
  color: #444;
}
.search form .search-box button {
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#search {
  background-color: transparent;
}
.search #close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
}
.search form .search-box button i {
  font-size: 2rem;
  color: #444;
}
.search form .search-box button:hover {
  background: #444;
}
.search form .search-box button:hover i {
  color: #fff;
}
.search form .search-box button:focus {
  outline: none;
}
.search form .search-box button:focus i {
  outline: none;
}

section.box {
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
}
section.box .bck-dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
section.box .slogan-text {
  position: absolute;
  top: 50%;
  left: 5%;
  z-index: 2;
  text-transform: uppercase;
}
section.box video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*featured*/
#featured {
  padding: 1rem 0;
}
.featured .featured-slider .box {
  margin: 2rem 0;
  position: relative;
  overflow: hidden;

  text-align: center;
  /* margin-right: 0 !important; */
}
/*taking half border right in box before*/
.featured .featured-slider .box:before {
  content: "";
  position: absolute;
  top: 30%;
  right: 0;
  width: 0.3rem;
  height: 15rem;
  background: #ebb240;
  z-index: 2;
}
/* taking half border bottom using after */
.featured .featured-slider .box:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 40%;
  height: 0.3rem;
  background: #ebb240;
  z-index: 2;
}

/* .featured .featured-slider .box .image{
	
} */
.featured .featured-slider .box .image img {
  width: 100%;
  height: 40rem;
  object-fit: cover;
  /* black and white image */
  filter: grayscale(100%);
  transition: all 0.4s linear;
}

.featured .featured-slider .box .card-black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: all 0.4s linear;
}
.featured .featured-slider .box:hover .card-black {
  /* background: transparent; */
  transform: translateY(-100%);
}
.featured .featured-slider .box:hover .image img {
  filter: grayscale(0);
}

.swiper-button-next,
.swiper-button-prev {
  width: 4rem;
  height: 4rem;
  border: var(--border-hover);
  color: var(--black);
  background: #8f693a;
  border-radius: 25%;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.3rem !important;
  line-height: 4rem;
  color: #fff;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: var(--black);
  color: #fff;
}

/*About Section*/

#about {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(
      76.34deg,
      rgba(255, 255, 255, 0.3) 50.4%,
      rgba(196, 196, 196, 0.3) 50.4%
    ),
    url("../images/h.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}
#about .content {
  position: relative;
}

#about .content h3 {
  font-size: 2rem;
  color: #333;
  margin: 0.25rem 0;
  width: 50%;
  transform: translateX(-200%);
  transition: all 0.5s linear;
}
#about .content p {
  font-size: 1.25rem;
  color: #000;
  margin: 0.25rem 0;
  width: 60%;
  text-shadow: 1px 1px 1px #bc8d31;
  transform: translateX(-200%);
  transition: all 0.5s linear;
}

/* Contact Form */
#contact-form {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 50.4%,
      rgba(196, 196, 196, 0) 50.4%
    ),
    url("../images/form_bg.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}
.contact_form {
  min-height: 100vh;
  background: rgba(235, 178, 64, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.contact_form form {
  margin-top: 6rem;
}
.contact_form form h3 {
  font-size: 2.5rem;
  color: #bc8d31;
  margin: 0.25rem 0;
  width: 100%;
  text-shadow: 1px 1px 1px #000;
}

.contact_form form input,
select,
textarea {
  width: 35vw;
  height: 3rem;
  border: 3px solid #bc8d31;
  border-radius: 0.5rem;
  padding: 0 1rem;
  margin: 0.5rem 0;
  background: transparent;
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.4s linear;
}
.contact_form form select option {
  background-color: #bc8d31;
  color: #fff;
}
.contact_form form select:first-child {
  color: #fff;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px #000;
}
.contact_form form input:focus,
select:focus,
textarea:focus {
  border: 1px solid #fff;
  outline: none;
}
.contact_form form input::placeholder,
select::placeholder,
textarea::placeholder {
  color: #fff;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px #000;
}
.contact_form form input[type="submit"] {
  width: 50%;
  height: 3rem;
  border: 3px solid #bc8d31;
  border-radius: 0.5rem;
  padding: 0 1rem;
  margin: 0.5rem 0;
  background: transparent;
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.4s linear;
  cursor: pointer;
}
.contact_form form input[type="submit"]:hover {
  background: #bc8d31;
  color: #fff;
  border: 1px solid #bc8d31;
  outline: none;
}
#footer {
  width: 100vw;
  height: 20rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
}
#foot-row {
  padding-top: 5rem;
}
#footer .container .row .col-md-4 ul {
  list-style: none;
  padding: 0;
}
#footer .container .row .col-md-4 ul li a {
  color: #fff;
  text-decoration: none;
}
#footer .container .row .col-md-4 a {
  color: #fff;
  text-decoration: none;
}
.social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.social-icons li {
  margin: 0 1rem;
}
.social-icons li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}
.social-icons li a i {
  color: #fff;
  font-size: 1.5rem;
}
.social-icons li a:hover {
  color: #bc8d31;
}
/* whatsapp icon floating in the bottom right corener */
.whatsapp {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem;
  width: 3rem;
  height: 3rem;
  /* background: #25D366; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 999;
}
.whatsapp:hover img {
  /* background: #25D366; */
  transform: scale(1.1);
}

/* Shops */
#details {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  background: url("../images/shops_bg.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}
/* align details-div to right side with half black background  */
.details-div {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
/* small logo in center */
.details-div .logo {
  width: 8rem;
  height: 8rem;
  position: absolute;
  top: 25%;
  left: 20%;
}
.details-div .logo img {
  width: 100%;
  height: 100%;
}

/* heading with yellow color and should be in 50% from top in div */
.details-div h3 {
  position: relative;
  top: 40%;
  left: 20%;
  color: #bc8d31;
  font-size: 3rem;
  line-height: 1.5;
  text-shadow: 1px 1px 1px #000;
}
.details-div p {
  position: relative;
  top: 40%;
  left: 20%;
  width: 60%;
  color: #fff;
  font-size: 1rem;
  text-shadow: 1px 1px 1px #000;
}
/* specifications section */
#specification .container {
  margin-top: 5rem;
}
#specification .container h2 {
  color: #bc8d31;
  font-size: 2rem;
  text-shadow: 1px 1px 1px #000;
}
.specification-div {
  margin-top: 3rem;
}
/* table has only border bottom and have gap between table data */

.specification-div table tr td {
  width: 100vw;
  color: #fff;
  font-size: 0.8rem;
  text-shadow: 1px 1px 1px #000;
  border-bottom: 1px solid #bc8d31;
  padding: 1rem 5rem;
}

.specification-div table tr td:last-child {
  text-align: center;
}

/* Gallery with fancybox */
#gallery {
  min-height: 100vh;
  width: 100vw;
  position: relative;
}
#gallery .container {
  margin-top: 5rem;
}
#gallery .container h2 {
  color: #bc8d31;
  font-size: 2rem;
  text-shadow: 1px 1px 1px #000;
}
.gallery-div {
  margin-top: 3rem;
}
/* .gallery-div .row{
    margin-top: 1rem;
}
.gallery-div .row .col-md-6{
    margin-bottom: 1rem;
} */
.gallery-div .row .col-md-6 img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  /* border-radius: 0.5rem; */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
/* text on image */
.gallery-div .row .col-md-6 .overlay {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 3rem;
  opacity: 1;
  transition: all 0.4s linear;
}
.gallery-div .row .col-md-6 .overlay h3 {
  color: #fff;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px #000;
}

/* Buttons designing */
.button-div {
  display: flex;
  justify-content: center;
}
.floor_plan_btn {
  background: #bc8d31 !important;
  color: #fff;
  border: 1px solid #bc8d31 !important;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin: 1rem;
  transition: all 0.4s linear;
  cursor: pointer;
}
.floor_plan_btn:hover {
  background: #fff !important;
  color: #bc8d31 !important;
  border: 1px solid #bc8d31 !important;
}
.button-div .line-btw {
  width: 2px;
  height: 4rem;

  background: #bc8d31;
  margin: 0.6rem 0.5rem;
}
.button-div .loc_btn {
  background: #bc8d31 !important;
  color: #fff;
  border: 1px solid #bc8d31 !important;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin: 1rem;
  transition: all 0.4s linear;
  cursor: pointer;
}
.button-div .loc_btn:hover {
  background: #fff !important;
  color: #bc8d31 !important;
  border: 1px solid #bc8d31 !important;
}

/* Contact Page */
.contact-details {
  margin-top: 5rem;
}
.office h2 {
  color: #bc8d31;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px #000;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 1rem 0rem;
}
.office p {
  color: #fff;
  font-size: 1rem;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
  padding: 1rem 0rem;
}

.emails-managers {
  margin-top: 7rem;
  margin-bottom: 5rem;
}
.emails-managers h2 {
  color: #bc8d31;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px #000;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 1rem 0rem;
}
.emails-managers p {
  color: #fff;
  font-size: 1rem;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
  padding: 1rem 0rem;
}

/* Projects */
#projects {
  padding: 1rem 0 0 0;
  margin-top: 5rem;
}
#projects .container-fluid .row .col-md-3 {
  padding: 0 0.25rem !important;
}
#projects .container-fluid .row .col-md-3 .box {
  margin-top: 0.25rem;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-right: 0 !important;
}

#projects .container-fluid .row .col-md-3 .box .image img {
  width: 100%;
  height: 40rem;
  object-fit: cover;
  /* black and white image */
  filter: grayscale(100%);
  transition: all 0.4s linear;
}

#projects .container-fluid .row .col-md-3 .box .card-black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: all 0.4s linear;
}
#projects .container-fluid .row .col-md-3 .box:hover .card-black {
  /* background: transparent; */
  transform: translateY(-100%);
}
#projects .container-fluid .row .col-md-3 .box:hover .image img {
  filter: grayscale(0);
}

#story {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(
      76.34deg,
      rgba(0, 0, 0, 0.3) 50.4%,
      rgba(0, 0, 0, 0.3) 50.4%
    ),
    url("../images/h.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}
/* Heading and paragraph should in the center of the picture  */

#story .content .about-headings {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.icons_holder {
  margin-top: 6rem;
  height: 50vh;
}

.section_title h2 {
  color: #bc8d31 !important;
  /* font-size: 1.5rem; */
  text-shadow: 1px 1px 1px #000;
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.5rem;
}

/* List should be in flex form and should be in center of the page */
.icons_holder .container .row .col-lg-11 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  color: #fff;
  flex-wrap: wrap;
  text-shadow: 1px 1px 1px #000;
  list-style: none;
}
/* after each li there should be a vertical line */
.icons_holder .container .row .col-lg-11 ul li {
  padding: 0 1rem;
  position: relative;
}

.icons_holder .container .row .col-lg-11 ul li::after {
  content: "";
  position: absolute;
  top: 30%;
  right: 0;
  width: 2px;
  height: 35px;
  background: #bc8d31;
}
.icons_holder .container .row .col-lg-11 ul li:nth-child(6)::after {
  display: none;
}
.icons_holder .container .row .col-lg-11 ul li:last-child::after {
  display: none;
}

.clearfix {
  clear: both;
}

.flex-center {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.section_break {
  background: #bc8d31;
  height: 0.5rem;
  width: 15rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

/* Section has shadow to make it different from another section */

.sec_space_top {
  padding-top: 80px;
}

.profile_pic {
  position: relative;
  text-align: center;
  width: 100%;
}

.profile_pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile_pic .pic_fade {
  background: rgb(26, 25, 25);
  background: linear-gradient(0deg, rgb(26, 25, 25) 0%, rgba(0, 0, 0, 0) 100%);
  height: 120px;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.profile_text {
  width: 100%;
  z-index: 3;
  /* text-align: center; */
  color: #fff;
  padding: 0 0 20px 0;
  text-shadow: 1px 1px 1px #000;
}

.profile_text h2 {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0;
}

.profile_text p {
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 0;
}

.link_text {
  font-size: 0;
  font-weight: 100;
  overflow: hidden;
  margin-bottom: 28px;
  position: relative;
  width: 100%;
}
.link_text figure {
  position: relative;
  margin-bottom: 0;
  width: 100%;
}
.link_text figure img {
  object-fit: cover;
  height: 320px;
}
.link_text figure figcaption {
  bottom: 0;
  color: #fefeff;
  left: 0;
  padding: 0 20px;
  position: absolute;
  z-index: 2;
}

.link_text span {
  bottom: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  left: 0;
  height: 50%;
  width: 100%;
}

/* single gallery image seting from single html file */
.inner_content {
  margin: 6rem 0;
}

.inner_content .container h1 {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.5rem;
  color: #bc8d31;
}

.inner_content .container .container-2 .block-image {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.inner_content .container .container-2 .row .block-image a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}



/* Blogs */
.product_holder{
    margin-top: 6rem;
}
.blog_single_card {
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: 0 none;
  margin-bottom: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.blog_single_card img{
    object-fit: cover;
    height: 220px;
    width: 100%;
  
}
.blog_single_card .card-title{
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 26px;
    min-height: 74px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
  }
  .blog_single_card a{
    color: #bc8d31;
  }
  .blog_single_card .btn_outline{
    border: 1px solid #bc8d31;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    color: #bc8d31;
    font-weight: 500;
    padding: 6px 20px;
    position: relative;
    text-transform: uppercase;
  
  }




  /* All Media Screen breakpoints for Responsive */
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }

    .nav-2.active {
        transform: translateX(60%);
      }
    
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
     .nav-2.active {
        transform: translateX(60%);
      }
      .featured .featured-slider .box{
        height: 30rem ;
      }
}

  @media (max-width: 991px) {
    .container {
      max-width: 960px;
    }
     .nav-2.active {
        transform: translateX(60%);
      }
  
}
@media (max-width: 767px){

    .container {
        max-width: 720px;
    }

    .nav-2.active {
        transform: translateX(60%);
      }
      #navbarSupportedContent .navbar-nav .nav-item .nav-link{
        font-size: 1rem!important;
    }
     .dropdown .dropdown-item {
        
        font-size: 0.8rem;
        
        padding: 0.8rem 1.3rem;
       
    }
    .navbar-brand img {
        width: 3.5rem;
        height: 3.5rem;
      }
      .featured .featured-slider .box{
        width: 100%;
        height: 20rem;
      }
   
}
@media (max-width: 600px){
    .container {
      max-width: 540px;
    }
    .navbar .navbar-nav .nav-item .nav-link {
      padding: 0.5rem 0.5rem;
    }
    .nav-2.active {
        transform: translateX(60%);
      }
      #navbarSupportedContent .navbar-nav .nav-item .nav-link{
            font-size:  0.8rem!important;        
      }
      .dropdown .dropdown-item {
        
        font-size: 0.7rem;
        
        padding: 0.5rem 1rem;
       
    }
    .navbar-brand img {
        width: 2.5rem;
        height: 2.5rem;
      }
      .featured .featured-slider .box{
        width: 100%;
        height: 25rem;
      }
      .featured .featured-slider .box .image img{
        /* width: 100%; */
        /* height: 100%; */
        /* object-fit: cover; */
      }
   
}
 
@media (max-width: 480px){
    .container {
      max-width: 100%;
    }
    .navigation {
      background: linear-gradient(to right, #8f693a, #bc8d31, #8f693a);
      height: 3rem !important;
    }
    .navbar .navbar-nav .nav-item .nav-link {
      padding: 0.5rem 0.5rem;
    }
    .nav-2.active {
        transform: translateX(60%);
      }
      /* Adjust Fontsize of nav links */
      #navbarSupportedContent .navbar-nav .nav-item .nav-link {
        font-size: 0.8rem!important;
      }
      .dropdown .dropdown-item {
        
        font-size: 0.5rem;
        
        padding: 0.5rem 1rem;
       
    }
    .navbar-brand img {
        width: 2.5rem;
        height: 2.5rem;
      }

      .search form .search-box {
      
        width: 100%;
        height: 2.5rem;
        
      }
      .search form .search-box input {
       
        font-size: 1.5rem;
       
      }
      .search form .search-box input::placeholder {
        font-size: 1.5rem;
      }
      .search form .search-box button {
        width: 2.5rem;
        height: 2.5rem;
     
      }
    
      .search #close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 3rem;
        color: #fff;
        cursor: pointer;
      }
      .search form .search-box button i {
        font-size: 1.5rem;
       
      }
      .search form .search-box button:hover {
        background: #444;
        color: #fff;
      }
      
  

      .featured .featured-slider .box:before {        
        display: none;
      }

      section.box .slogan-text h1{
        font-size: 2.5rem!important;
      }

      /* About */

#about {
  min-height: auto;
  height: 100%;
  width: 100vw;
  background: linear-gradient(
      76.34deg,
      rgba(255, 255, 255, 0.3) 50.4%,
      rgba(196, 196, 196, 0.3) 50.4%
    ),
    url("../images/h.jpeg") no-repeat;

  background-size: 100%;
  background-position: start;
  background-attachment: scroll;
}
#about .content {
  position: relative;
}

#about .content h3 {
  font-size: 0.8rem;
  margin: 0.1rem 0;
}
#about .content p {
  font-size: 0.4rem;
  margin: 0.1rem 0;
  padding-bottom: 4.3rem;
}


/* Contact Form */
#contact-form {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 50.4%,
      rgba(196, 196, 196, 0) 50.4%
    ),
    url("../images/form_bg.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}
.contact_form {
  min-height: 100vh;
  background: rgba(235, 178, 64, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.contact_form form {
  margin-top: 6rem;
}
.contact_form form h3 {
  font-size: 1.5rem;
  color: #bc8d31;
  margin: 0.25rem 0;
  width: 100%;
  text-shadow: 1px 1px 1px #000;
}

.contact_form form input,
select,
textarea {
  width: 90%;

  border: 2px solid #bc8d31;
  
  font-size: 0.8rem;
 
}

.contact_form form select:first-child {
  font-size: 0.8rem;
}

.contact_form form input::placeholder,
select::placeholder,
textarea::placeholder {
  color: #fff;
  font-size: 0.8rem;
  text-shadow: 1px 1px 1px #000;
}
.contact_form form input[type="submit"] {
  width: 30%;
  height: 2rem;
  border: 2px solid #bc8d31;
  padding: 0 0.5rem;
  font-size: 0.8rem;
  
}
.contact_form form input[type="submit"]:hover {
  background: #bc8d31;
  color: #fff;
  border: 1px solid #bc8d31;
  outline: none;
}

#footer {
  width: 100vw;
  height: 20rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
}
#foot-row {
  padding-top: 2.5rem;
}
#footer .container .row .col-md-4 h5{
  font-size: 1rem;
}
#footer .container .row .col-md-4 ul li{
  font-size: 0.8rem;
}
#footer .container .row .col-md-4 ul li a {
  font-size: 0.8rem;
  color: #fff;
  text-decoration: none;
}
#footer .container .row .col-md-4 a {
  font-size: 0.8rem;
  color: #fff;
  text-decoration: none;
}
.social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.social-icons li {
  margin: 0 1rem;
}
.social-icons li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
}
.social-icons li a i {
  color: #fff;
  font-size: 0.8rem;
}
.social-icons li a:hover {
  color: #bc8d31;
}
/* whatsapp icon floating in the bottom right corener */
.whatsapp {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem;
  width: 3rem;
  height: 3rem;
  /* background: #25D366; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 999;
}
.whatsapp:hover img {
  /* background: #25D366; */
  transform: scale(1.1);
}
   
   
}

@media (max-width: 320px){
    .container {
      max-width: 100%;
    }
    .navbar .navbar-nav .nav-item .nav-link {
      padding: 0.5rem 0.5rem;
    }
    .nav-2.active {
        transform: translateX(60%);
      }
   /* adjust fontsize of nav links */
   #navbarSupportedContent .navbar-nav .nav-item .nav-link {
      font-size: 0.8rem!important;
    }
    .dropdown .dropdown-item {
        
        font-size: 0.5rem;
        
        padding: 0.5rem 1rem;
       
    }
    .navbar-brand img {
        width: 2.5rem;
        height: 2.5rem;
      }
}









